:root {
	--clr1: rgb(55, 70, 83);
	--clr2: rgb(99, 120, 115);

	--clr1bg: rgb(149, 159, 166);
	--clr1bg-light: rgb(200, 213, 221);
	--clr2bg: rgb(206, 233, 215);
	--clr2bg-light: rgb(236, 253, 250);

	--gray1: rgb(240, 240, 240);
	--gray2: rgb(155, 155, 155);
	--gray3: rgb(44, 44, 44);
}
